<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <div v-if="nome.length < 10">
                <p>se passar de 10 caracter destroy</p>
                <input type="text" v-model="nome" />
                {{ nome }}
            </div>

            <button>criar componente</button>

        </div>
        <script>


            var app = new Vue({
                el: "#app",
                data: {
                    nome: ''
                },
                beforeCreate: function() {
                    console.log('beforeCreate')
                },
                created: function() {
                    console.log('created')
                },
                beforeMount: function() {
                    console.log('beforeMount')
                },
                mounted: function( ) {
                    console.log('mounted')
                },
                beforeUpdate: function() {
                    console.log('beforeUpdate')
                },
                updated: function() {
                    console.log('updated')
                },
                beforeDestroy: function() {
                    console.log('beforeDestroy')
                },
                destroy: function() {
                    console.log('destroy')
                }

            })
        </script>
    </body>
</html>