<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aula - 2 | v-if</title>
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <p v-if="conteudo1">Mostra o conteudo 1</p>

            <p v-if="conteudo2">este não mostra</p>
            <p v-else>Porem este mostra</p>

            <p v-if="nome === 'lucas'">Nome é Lucas</p>
            <p v-else-if="nome == 'junior'">Nome é Junior</p>
            <p v-else>Não sei o nome</p>
        </div>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    conteudo1: true,
                    conteudo2: false,
                    nome: 'carlos'
                }
            })
        </script>
    </body>
</html>